.sideBar {
	max-width: 250px;
	width: 100%;
	padding: 20px;
	height: 100vh;
  position: relative;

  &__wrap {
    position: fixed;
    top: 20px;
  }

	&__title {
		font-size: 34px;
		text-align: center;
		color: #58daa8;
		padding-bottom: 70px;
	}

	&__search {
		text-align: center;
		font-size: 30px;
		color: #c7c7c7;
    margin-bottom: 30px;
	}

  &__icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    display: block;
  }

  &__actors {
    background-image: url('./img/Actors.svg');
  }

  &__genres {
    background-image: url('./img/circle-center-line.svg');
  }

  &__films {
    background-image: url('./img/cinema-film.svg');
  }

  &__series {
    background-image: url('./img//movie-videos.svg');
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
    filter: invert(98%) sepia(1%) saturate(596%) hue-rotate(63deg) brightness(83%) contrast(91%);
    
    &-active {
      filter: invert(98%) sepia(1%) saturate(596%) hue-rotate(63deg) brightness(83%) contrast(91%);
    }

    &:hover {
      filter: invert(74%) sepia(37%) saturate(578%) hue-rotate(104deg) brightness(97%) contrast(84%);
    }
  }
}
