.right-sidebar {
	position: fixed;
	right: 0;
	background-color: aquamarine;
	top: 0;
	bottom: 0;
}

@media screen and (min-width: 350px) {
	.right-sidebar {
		// top: 250px;
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.right-sidebar {
		// top: 350px;
		width: 200px;
	}
}

@media screen and (min-width: 1280px) {
	.right-sidebar {
		// top: 400px;
		width: 300px;
	}
}
